

a{
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(102, 31, 31);
    text-decoration: none;
}

body{

    p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    h2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;}
}

.btn-primary{
    background-color: rgb(172, 60, 60)  !important;
    border-color: rgb(141, 141, 141) !important;
    border-radius: 0% !important;
    color: rgb(255, 255, 255) !important;
    
}


.table{
    background-color: rgb(253, 223, 167);
}





