

a{
    font-family: 'Roboto Flex', sans-serif;
color: rgb(102, 31, 31);
    text-decoration: none;
    font-size: large;
}

body{

    p{font-family: 'Roboto Flex', sans-serif;}

    h2{font-family: 'Moon Dance', cursive;
        font-size: 50px;
    }

    h1{font-family: 'Acme', sans-serif;}
}

.btn-primary{
    background-color: rgb(180, 55, 55)  !important;
    border-color: rgb(141, 141, 141) !important;
    border-radius: 15% !important;
    color: rgb(255, 255, 255) !important;
    
}


.table{
    background-color: rgb(221, 219, 219);
}

#texto_inscripcion{
    font-size: 40px;
    font-weight: lighter;
    
}

#imagen_inscripcion{
    text-align: center !important;
}

.card:hover {filter: opacity(.5);}
